.wrapper {
    color: #666;
    cursor: pointer;
    border-bottom: 1px solid silver;
    padding-right: 5px;
}

.customShareIconClasses {
  fill: #8d8dac;
}

.customShareIconClasses:hover {
  fill: #0505f2;
}

/* button specific overrides */
.facebookWrapper {
    border-bottom: 1px solid blue;
}

.linkedinWrapper {
  border: 2px solid yellow;
}

