.Greetings-wrapper {
  background-image: url(images/b5c0108b6972494511e73ad626d1852f-home.png);
  height: 500px;
}

.Greetings-wrapper h2 {
  color: black;
}

.Header-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.Header-wrapper li {
  float: left;
}

.Header-wrapper li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Header-wrapper li a:hover:not(.Header-active) {
  background-color: #ddd;
}

.Header-wrapper li a.Header-active {
  color: white;
}

.Home-wrapper {
  background: #8d8dac;
  color: white;
  text-align: center;
  font-family: MyFont;
}

.Loading-wrapper {
  background: #8d8dac;
  padding-bottom: 10px;
}

.Loading-wrapper h3 {
  background: red;
  text-align: center;
}

.Loading-wrapper div {
  text-align: center;
}

.PageLayout-error {
  background: red;
  color: white;
}

.PageLayout-wrapper {
  background-color: blue;
}

@font-face {
  font-family: 'MyFont';
  src: url(a6360e7167dcb04592dcdd318b7656bf.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}

.App-appWrapper {
  padding: 5px;
  background: #8d8dac;
  color: white;
  text-align: center;
  font-family: MyFont;
}

.App-appWrapper h1 {
  font-size: 18px;
}

